.header {
  height: 30vh;
  background-image: url(../images/hd_cd7afd629b94f23eba7aebbcade65825.jpg);
  background-position: 0px -10px;
  background-size: 320px 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 4px outset #ffffff;
  outline-offset: 0px;
  text-align: left;
}
.containerInput {
  height: 40px;
  width: 35vh;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: -15%;
  gap: 5px;
  background-color: aliceblue;
  box-shadow: rgb(85, 221, 255) 0px 5px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 10px;
}
.input {
  width: 20vh;
  border-color: aqua;
  border-width: 1px;
  font-size: 10px;
}
.btnSearch {
  height: 21px;
  display: flex;
  background-color: aqua;
  border-width: 1px;
  width: 70px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1px;
}
@media all and (min-width: 768px) {
  .header {
    height: 35vh;
    background-position: 1px -100px;
    background-size: cover;
  }
  .containerInput {
    height: 45px;
    bottom: -14%;
    width: 70vh;
  }
  .input {
    width: 55vh;
    font-size: 20px;
  }
  .btnSearch {
    height: 27px;
    width: 75px;
  }
}
