.main {
  background-color: #d5b206;
}

.containerList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.sectionCha {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
  padding-left: 50px;
}
.sectionFav {
  margin-left: 50px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: black;
  border: 5px outset hsl(205, 7%, 65%);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.imgActor {
  width: 118px;
  height: 145px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  object-fit: center;
}
.titleCha {
  font-size: 50px;
  font-family: "Sono", sans-serif;
  margin-top: 50px;
  color: #073d2c;
  font-weight: 400;
  padding-left: 600px;
  padding-bottom: 10px;
  text-decoration: overline underline #073d2c;
}
.titleFav {
  font-size: 30px;
  font-family: "Sono", sans-serif;
  color: white;
  font-weight: 400;
  text-decoration: underline white;
  margin-bottom: 20px;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  margin-left: 10px;
  text-align: center;
  width: 80vw;
}
.listRender {
  width: 120px;
  box-shadow: 3px 3px 10px;
  border: black 1px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: antiquewhite;
}
/* SIBLING FADE: fade out siblings around a hovered item */

.characters {
  visibility: hidden;
}
/* Prevents :hover from triggering in the gaps between items */

.characters > * {
  visibility: visible;
}
/* Brings the child items back in, even though the parent is `hidden` */

.characters > * {
  transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
}
/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

.characters:hover > * {
  opacity: 0.4;
  transform: scale(0.9);
}
/* Fade out all items when the parent is hovered */

.characters > *:hover {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0ms, 0ms;
}

.favourites {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;

  gap: 41px;

  color: white;
}
.listRenderFav {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  text-align: center;
  box-shadow: 3px 3px 10px;
  border: black 1px solid;

  color: black;
  width: 102px;
}

.nameFav,
.statusFav {
  font-size: 10px;
  background-color: antiquewhite;
}
.imgFav {
  width: 99px;
  height: 79px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: #073d2c solid 2px;
}
.x {
  transform: scale(5);
}
.removeFav {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
}

.modal {
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 20px;
  font-weight: bolder;
  background-image: url(../images/breaking-badjpg.jpg);
  background-position: center;
  width: 500px;
  height: 300px;
  top: 150px;
  left: 340px;

  position: fixed;

  border: white 3px solid;
  box-shadow: 5px 5px 20px;
  line-height: 1.5;
}

.alert {
  font-family: "Sono", sans-serif;
  font-size: 40px;
  text-decoration: underline yellow;
}

.alertText {
  text-align: center;
  font-family: "Sono", sans-serif;
  font-size: 30px;
  color: white;
  border: black solid 2px;
  background-color: black;
  margin-bottom: 5px;
}
